{% extends 'base.html.twig' %}

{% block title %}Departments{% endblock %}

{% block body %}
    <h1>Departments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ department.department }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('departments_index') }}">back to list</a>

    <a href="{{ path('departments_edit', {'id': department.id}) }}">edit</a>

    {{ include('departments/_delete_form.html.twig') }}
{% endblock %}
