{% extends 'base.html.twig' %}

{% block title %}Currencies{% endblock %}

{% block body %}
    <h1>Currencies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ currency.currency }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ currency.symbol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('currencies_index') }}">back to list</a>

    <a href="{{ path('currencies_edit', {'id': currency.id}) }}">edit</a>

    {{ include('currencies/_delete_form.html.twig') }}
{% endblock %}
