{% extends 'base.html.twig' %}

{% block title %}EmergencyContacts index{% endblock %}

{% block body %}
    <h1>EmergencyContacts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameEmergency</th>
                <th>MobileEmergency</th>
                <th>EmailEmergency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emergency_contact in emergency_contacts %}
            <tr>
                <td>{{ emergency_contact.id }}</td>
                <td>{{ emergency_contact.nameEmergency }}</td>
                <td>{{ emergency_contact.mobileEmergency }}</td>
                <td>{{ emergency_contact.emailEmergency }}</td>
                <td>
                    <a href="{{ path('emergency_contacts_show', {'id': emergency_contact.id}) }}">show</a>
                    <a href="{{ path('emergency_contacts_edit', {'id': emergency_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emergency_contacts_new') }}">Create new</a>
{% endblock %}
