{% extends 'base.html.twig' %}

{% block title %}EmergencyContacts{% endblock %}

{% block body %}
    <h1>EmergencyContacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emergency_contact.id }}</td>
            </tr>
            <tr>
                <th>NameEmergency</th>
                <td>{{ emergency_contact.nameEmergency }}</td>
            </tr>
            <tr>
                <th>MobileEmergency</th>
                <td>{{ emergency_contact.mobileEmergency }}</td>
            </tr>
            <tr>
                <th>EmailEmergency</th>
                <td>{{ emergency_contact.emailEmergency }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('emergency_contacts_index') }}">back to list</a>

    <a href="{{ path('emergency_contacts_edit', {'id': emergency_contact.id}) }}">edit</a>

    {{ include('emergency_contacts/_delete_form.html.twig') }}
{% endblock %}
