{% extends 'base.html.twig' %}

{% block title %}GMG | HR{% endblock %}

{% block body %}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    {% block header %}
    {{parent()}}
    {% endblock %}
    <!--end::Header-->

    {% block content %}
    <!--begin::Content-->
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="subheader py-3 py-lg-8  subheader-transparent " id="kt_subheader">
            <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">

                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h2 class="subheader-title text-dark font-weight-bold my-1 mr-3">

                        </h2>
                        <!--end::Page Title-->

                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">
                            {{asprega_breadcrumb()}}
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

                <!--begin::Toolbar-->
                <div class="d-flex align-items-center">

                </div>
                <!--end::Toolbar-->
            </div>
        </div>










        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::Row-->
                <div class="row">

                    <!--begin table -->



                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">

                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header py-3">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            


                                            <span class="svg-icon svg-icon-md svg-icon-primary"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\General\User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                                </g>
                                            </svg><!--end::Svg Icon--></span>
                                        
                                        </span>
                                        <h3 class="card-label">Human Ressources </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Dropdown-->
                                        
                                        <!--end::Dropdown-->

                                        <!--begin::Button-->
                                        <a href="{{ path('staff_new',{lng:lngbase}) }}"
                                                    class="btn btn-primary font-weight-bolder font-size-sm"><i class="fas fa-plus"></i> Add new</a>
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--begin: Search Form-->
                                    <!--begin::Search Form-->
                                    <div class="mt-2 mb-7">
                                        <div class="row align-items-center">
                                            <div class="col-lg-9 col-xl-8">
                                                <div class="row align-items-center">
                                                    <div class="col-md-4 my-2 my-md-0">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control"
                                                                placeholder="Search..."
                                                                id="kt_datatable_search_query" />
                                                            <span><i class="flaticon2-search-1 text-muted"></i></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 my-2 my-md-0">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-3 mb-0 d-none d-md-block">Agency:</label>
                                                            <select class="form-control"
                                                                id="kt_datatable_search_Agency">
                                                                <option value="">All</option>
                                                                
                                                                {% for d in agencies %}
                                                                    <option value="{{d.agency}}">{{d.agency}}</option>   
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 my-2 my-md-0">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                                            <select class="form-control" id="kt_datatable_search_status">
                                                                <option value="">All</option>
                                                                <option value="Active">Active</option>
                                                                <option value="Not Active">Not Active</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Search Form-->
                                    <!--end: Search Form-->

                                    <!--begin: Datatable-->
                                    <div>
                                        <table class="datatable datatable-bordered datatable-head-custom "  id="kt_datatable_hr">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Full Name</th>
                                                    <th>Agency</th>
                                                    <th>Department</th>
                                                    <th>Mobile</th>
                                                    <th>Status</th>
                                                    <th>Note</th>
                                                    <th>Salary</th>
                                                    <th>DaysOff</th>
                                                    
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                                {% for item in staff %}
                                                <tr>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg">
                                                        {{loop.index}}
                                                    </td>
                                                    <td data-field="OrderID"  class="datatable-cell">
                                                        <span >
                                                            <div class="d-flex align-items-center">
                                                                <div class="symbol symbol-40 flex-shrink-0">
                                                                    <div class="symbol-label"
                                                                        style="background-image:url('/assets/img/staff/{{item.staff.photo}}')">
                                                                    </div>
                                                                </div>
                                                                <div class="ml-2">
                                                                    <div
                                                                        class="text-dark-75 font-weight-bold line-height-sm">
                                                                        {{item.staff.firstname}} {{item.staff.lastname}}</div> <a href="#"
                                                                        class="font-size-sm text-dark-50 text-hover-primary">{{item.staff.staffType}}</a>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </td>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {{item.agency.agency}}
                                                    </td>
                                                   
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {{item.staff.department.department}}
                                                    </td>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {{item.staff.tel1}}
                                                    </td>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {% if item.staff.isActive == true %} <span class="label label-light-success label-inline font-weight-bolder mr-1" >Is Active</span>{% endif %}
                                                        {% if item.staff.isActive == false %}<span class="label label-light-danger label-inline font-weight-bolder mr-1" style="color: red;" >Not Active</span>{% endif %}
                                                        
                                                        
                                                    </td>
    
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {% if item.note != null %}
                                                        <p style="margin: 0;">{{item.note.note}}</p>
                                                        {% endif %}
                                                        {% if item.note == null %}
                                                        <p style="margin: 0;">No notes</p>
                                                        {% endif %}
                                                        

                                                    </td>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {% if (item.contract | length) != 0 %}
                                                            {{item.contract[0].contract.salary | format_currency('EUR')}} 
                                                        {% else %}
                                                            <strong>You need to add a contract first</strong>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-dark-75 font-weight-bolder  font-size-lg capitalize">
                                                        {% if (item.contract | length) != 0 %}
                                                            {{item.contract[0].contract.daysOff }}
                                                        {% else %}
                                                        <strong>You need to add a contract first</strong>
                                                        {% endif %}
                                                    </td>
    
                                                    <td data-field="Actions" data-autohide-disabled="false"
                                                        aria-label="null" class="datatable-cell">
                                                        
                                                        <span style="overflow: visible; position: relative; width: 125px;" >
                                                            
                                                            <a href="{{ path('staff_show',{id: item.staff.id,lng:lngbase}) }}" class="btn btn-sm btn-clean btn-icon ">
                                                                 <span class="svg-icon svg-icon-md"> 
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                <rect x="0" y="0" width="24" height="24"/>
                                                                                <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000"/>
                                                                                <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"/>
                                                                            </g>
                                                                        </svg>
                                                                    
                                                                    </span> 
                                                            </a>



                                                            
                                                                    <a  data-toggle="modal" data-target="#addNote-for-{{item.staff.id}}" class="btn btn-sm btn-clean btn-icon ">
                                                                        
                                                                        <span class="svg-icon svg-icon-md">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                                    <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
                                                                                    <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
                                                                                    <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1"/>
                                                                                    <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1"/>
                                                                                </g>
                                                                            </svg> 
                                                                        
                                                                        </span> 


                                                                    </a>
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                <a href="javascript:;"
                                                                class="btn btn-sm btn-clean btn-icon" title="Delete"> <span
                                                                    class="svg-icon svg-icon-md"> <svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="24px" height="24px" viewBox="0 0 24 24"
                                                                        version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none"
                                                                            fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                                            <path
                                                                                d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                                                fill="#000000" fill-rule="nonzero"></path>
                                                                            <path
                                                                                d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                                                fill="#000000" opacity="0.3"></path>
                                                                        </g>
                                                                    </svg> </span> 
                                                                </a>
                                                        </span>
    
    
                                                    </td>
                                                </tr>





                                                <div class="modal fade"  id="addNote-for-{{item.staff.id}}" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true" >
                                                    <div class="modal-dialog " role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addNote-for-{{item.staff.id}}">Add Note</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black;">
                                                                    <span style="display: block;" aria-hidden="true" class="fas fa-times"></span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" style="color: black;">

                                                                <form class="form" action="" method="POST" name="addNeWNoteForm">
                                                                    <input type="hidden" name="idStaff" value="{{item.staff.id}}">
                                                                    <div class="form-group">
                                                                        <select required name="subjectID"
                                                                            class="form-control form-control-lg form-control-solid ">
                                                                            <option value="">Choose a subject</option>
                                                                            {% for item in subjects %}
                        
                                                                            <option value="{{item.id}}">{{item.subject}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <textarea class="form-control form-control-lg form-control-solid"
                                                                            id="exampleTextarea" rows="3" placeholder="Type notes" required
                                                                            name="noteToAdd"></textarea>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary font-weight-bold">
                                                                        Add notes</button>
                                                                </form>

                                                                
                                                        </div>
                                                    </div>
                                                </div>


                                                
                                                {% endfor %}
    
                                           
                                            </tbody>
                                        </table>
                                    </div>

                                    <!--end datatable-->

                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                    <!-- end table-->

                </div>
            </div>

        </div>

    </div>
    <!--end::Content-->
    {% endblock %}


    <!--begin::Footer-->
    {% block footer %}
    {{parent()}}
    {% endblock %}
    <!--end::Footer-->
</div>
<!--end::Wrapper-->
{% endblock %}

{% block javascripts %}

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };
    </script>
    <!--end::Global Config-->

    <!--begin::Global Theme Bundle(used by all pages)-->


    <script src=" {{ asset('/assets/plugins/global/plugins.bundle.js') }} "></script>
    <script src=" {{ asset('/assets/plugins/custom/prismjs/prismjs.bundle.js') }} "></script>
    <script src=" {{ asset('/assets/js/scripts.bundle.js') }} "></script>
    <!--end::Global Theme Bundle-->

    <!--begin::Page Vendors(used by this page)-->
    
    <script src=" {{ asset('/assets/js/hr.js') }} "></script>

    <!--end::Page Vendors-->

    <!--begin::Page Scripts(used by this page)-->
    <script src=" {{ asset('/assets/js/main.js') }} "></script>
    

{% endblock %}